<div *ngIf="isVisible" class="modal-bg">
  <div class="close">
    <button (click)="onClose()"><i class="fa-solid fa-xmark"></i></button>
  </div>
  <div class="modal">
    <div class="card">
      <div class="image">
        <img [src]="user.picture" alt="Profile Picture" *ngIf="user.picture">
        <img src="assets/profile.jpg" alt="Profile Picture" *ngIf="!user.picture">
      </div>

      <div class="card-info">

        <div class="points-section" *ngIf="isUser">
          <h3>Your Points: {{ points }}</h3>
          <div class="conversions-container">
            <div *ngFor="let conversion of conversions" class="conversion">
              <button [disabled]="points < conversion.points"
                      (click)="convertPoints(conversion.points, conversion.value)">
                {{ conversion.points }}pts : {{ conversion.value }} Dh
              </button>
            </div>
          </div>
        </div>

        <form [formGroup]="profileForm" (ngSubmit)="onUpdate()">
          <div class="group">
            <div>
              <label for="name">Name</label>
              <input id="name" formControlName="name" type="text">
            </div>
            <div>
              <label for="email">Email</label>
              <input id="email" formControlName="email" type="email">
            </div>
          </div>
          <div class="group">
            <div>
              <label for="phone">Phone</label>
              <input id="phone" formControlName="phone" type="text">
            </div>
            <div>
              <label for="address">Address</label>
              <input id="address" formControlName="address" type="text">
            </div>
          </div>
          <button type="submit">Update Profile</button>
        </form>
        <button class="delete-btn" (click)="onDelete()">Delete Profile</button>

      </div>

    </div>
  </div>
</div>
