<section id="app-track-list">
  <header>
    <h4>Welcome back, {{user.name}}! <br>
      <span>{{requestsCount}} requests for you</span>
    </h4>

    <div class="search">
      <button type="button"><i class="fa-solid fa-magnifying-glass"></i></button>
      <input type="text" placeholder="Search by address, status or notes..." [formControl]="searchControl">
    </div>

    <div class="h-actions">
      <button *ngIf="!isUser" type="button" title="notifications"><i class="fa-solid fa-bell"></i></button>
      <button *ngIf="isUser" type="button" title="add track" (click)="openModal()"><i class="fa-solid fa-plus"></i></button>
      <button type="button" title="profile" class="profile" style="display: flex; align-items: center; justify-content: center">
        <img *ngIf="user.picture" [src]="user.picture" alt="avatar" style="width: 40px; height: 40px; border-radius: 200px; object-fit: cover">
        <span *ngIf="!user.picture">{{user.name.charAt(0).toUpperCase()}}</span>
      </button>
    </div>
  </header>


  <div class="tracks">
    <div *ngIf="!requests.length">
      <p>No requests found</p>
    </div>
    <div *ngFor="let request of requests; let i = index">
    </div>
  </div>
</section>

<app-request-form
  [isVisible]="showModal"
  [types]="types"
  [request]="selectedRequest"
  (close)="onCloseModal()"
  (save)="onSaveRequest($event)">
</app-request-form>

